* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2D2A41;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100vh;
    width: 100vw;
}

nav {
    display: flex;
    min-width: 100vw;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1;
    background: #8D8D8D;
    justify-content: space-between;

}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    font-size: 2.5rem;
    padding: 0 4rem 0 4rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav img {
    width: 15vw;
}

footer {
    background-color: #8D8D8D;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    text-align: center;
    color: white;
    padding: 30px;
}


.dropdown-content {
    position: absolute;
    display: none;
    background-color: blue;
    min-width: 10vw;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0, 2);
    z-index: 1;
}

nav a:hover {
    color: #80ccff;
    /* Change to your desired hover color */
}

nav .dropdown {
    position: relative;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3498db;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 0.8rem 1rem;
    display: block;
    text-align: left;
    font-size: 16px;
}

header {
    text-align: center;
}

h1 {
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 10px;
}

h2 {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

h3 {

    font-size: 17px;
    margin-left: 10px
}

p {
    font-size: 16px;
    color: #ECD98D;
    margin-left: 10px;
}

img {
    float: right;
    width: 300px;
    margin-right: 130px;
}

/* homepage */
.blur-container {
    background: url('') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(248, 225, 225);
    text-align: center;
    position: relative;

}

.homepage {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2D2A41;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100vh;
    width: 100vw;
    background-image: url(./img/tuf\ gaming.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blur {
    width: 100vw;
    height: 15vh;
    position: center;
    z-index: -1;
    backdrop-filter: blur(10px);
    position: relative;
    bottom: 26rem;
}

.content {
    z-index: 1;
}

/* goededoel */
.tekst {
    text-align: left;
}

.longfonds {
    height: 350px;
    width: 550px;
    display: flex;
    justify-content: right;


}

.titel-longfonds {
    font-size: 25px;
}

.alle-tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.image1 {
    margin-top: -25vh;
}

/* Cv shafirio */
.div1{
    left: 75rem;
    position: relative;
    bottom: 20rem;
}
.section2 h2{
    font-size: 30px;
}
.section2 h3{
    font-size: 25px;
}
.section2 p{
    font-size: 20px;
}
.section2 {
    background-color:#4e4b56;
    width: 40vw;
    left: 10rem;
    height: 33rem;
    position: relative;
    margin-top: 2rem;
}
.section2 img {
    width: 300px;
    height: 330px;
}
span {
    color: #ECD98D;
    font-size: 20px;
}
.wvi12 {
    text-decoration: none;
    color: #ededed;
}
.wvi3 {
    display: inline-block;
    padding: 15px 20px;
    background-color: #000000;
    color: #ab5252;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.wvi3:hover {
    background-image: url(./img/design4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wvi4 {
    display: inline-block;
    padding: 16px 40px;
    background-color: #000000;
    color: #ab5252;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wvi4:hover {
    background-image: url(./img/design4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* CV Ilias */
.wvi1 {
    text-decoration: none;
    color: #705f19;
}

.sectionicv {
    background-color: #666274;
    width: 330px;
    position: relative;
    left: 61.5rem;
    top: 3rem;
}

.wvi11 {
    text-decoration: none;
    color: #705f19;

}

.wvi2 {
    display: inline-block;
    padding: 15px 20px;
    background-color: #000000;
    color: #ab5252;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 65rem;
}

.wvi2:hover {
    background-image: url(./img/design4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wvi1 {
    display: inline-block;
    padding: 15px 10px;
    background-color: #000000;
    color: #ab5252;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 65rem;
}

.wvi1:hover {
    background-image: url(./img/design4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wvi10 {
    display: inline-block;
    padding: 15px 30px;
    background-color: #000000;
    color: #ab5252;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 65rem;
}

.wvi10:hover {
    background-image: url(./img/design4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wvi21 {
    display: inline-block;
    padding: 16px 19px;
    background-color: #000000;
    color: #ab5252;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    bottom: 30rem;
    left: 49rem;
}


.wvi21:hover {
    background-image: url(./img/design4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wvi22 {
    display: inline-block;
    padding: 15px 10px;
    background-color: #000000;
    color: #ab5252;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 48rem;
}


.wvi22:hover {
    background-image: url(./img/design4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pasfotoi1 {
    position: relative;
    left: 12rem;
    bottom: rem;
}

.link-tekst {
    color: white;
}

@media screen {}

.gone{
    display: none;
    border-radius: 10px;
}

.infocon{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.divplaceh{
    height: 30vh;
    width: 20vw;
    background-color: #ECD98D;
    border: #ffffff solid 2px;
    border-radius: 10px;
    display: none;
}


.sec22{
    height: 0;
 
   position: relative;
   bottom: 30rem;background-color: #4b738e;
   right: 30rem;
   
}
.sec21{
    height: 0;
 
   position: relative;
   bottom: 17rem;background-color: #4b738e;
   right: 30rem;
   
}
.sec20{
    height: 0;
 
   position: relative;

   background-color: #4b738e;
 
   
}
.sec19{
    height: 0;
 
   position: relative;
   bottom: 20rem;
   right: 30rem;

   background-color: #4b738e;
 
   
}
.sec18{
    height: 0;
 
   position: relative;
   bottom: 16rem;
   right: 30rem;

   background-color: #4b738e;
 
   
}